[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
pandas = "*"
tqdm = "*"
spacy = "*"
matplotlib = "*"
pyarrow = "*"
s3fs = "*"
modin = "*"
cudf = "*"

[requires]
python_version = "3.7"
